
@{
	ViewData["Title"] = "Korpa";
	Newsletter ns = new Newsletter();

}


@section Styles{
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/cart.css">
    <link rel="stylesheet" type="text/css" href="/styles/cart_responsive.css">
}
@section Scripts{
    <script src="/js/cart_custom.js"></script>
}

@model scVM

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="images/shopping_cart.jpg" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="home_container">
					<div class="home_content">
						<div class="home_title">Korpa</div>
						<div class="breadcrumbs">
							<ul>
								<li><a asp-controller="Home" asp-action="Index">Početna</a></li>
								<li>Korpa</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Cart -->

<div class="cart_container">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="cart_title">Tvoja korpa</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
					<div class="cart_bar_title_name">Proizvod</div>
					<div class="cart_bar_title_content ml-auto">
						<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
							<div class="cart_bar_title_price">Cena</div>
							<div class="cart_bar_title_quantity">Količina</div>
							
							<div class="cart_bar_title_button"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		@foreach(var item in Model.ListCart)
		{
			
			
			<div class="row">
			<div class="col">
				<div class="cart_products">
					<ul>
						<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
							<!-- Product Image -->
							<div class="cart_product_image"><img src="@item.Prod.ImageURL" style="width:80px;height:120px;" alt=""></div>
							<!-- Product Name -->
							<div class="cart_product_name">@item.Prod.Name</div>
							<div class="cart_product_info ml-auto">
								<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
									<!-- Product Price -->
									<div class="cart_product_price">@item.Prod.Price din.</div>
									<!-- Product Quantity -->
									<div class="product_quantity_container">
											<div class="product_quantity clearfix">
												<input id="quantity_input" type="text" name="myInput" pattern="[0-9]*" value="@item.Count">
												<div class="quantity_buttons">
													<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
													<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
												</div>
											</div>
									</div>

										<!-- Products Total Price <div class="cart_product_total">@Model.OrderHeader.OrderTotal din.</div> -->
									
									<!-- Product Cart Trash Button -->
									@using (Html.BeginForm("Remove","ShoppingCart",new{id=item.Id},FormMethod.Post)){
									<div class="cart_product_button">
										<button class="cart_product_remove"><img src="images/trash.png" alt=""></button>
									</div>
									}
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		}
		<div class="row">
			<div class="col">
				<div class="cart_control_bar d-flex flex-md-row flex-column align-items-center justify-content-center ">
					
					<a asp-controller="Shop" asp-action="Index"><button class="button_update cart_button_2 ml-md-auto px-2">Nastavite kupovinu</button></a>
					
					<a asp-action="Checkout" asp-controller="ShoppingCart" class="px-3"><button class="button_update cart_button_2 ml-md-auto " style="background-color:seagreen">Dalje</button></a>
					<div class="col align-items-end ">
						<div class="cart_product_total" style="float:right"><b>UKUPNO:</b> @Model.OrderHeader.OrderTotal din.</div>
                    </div>
                </div>
				
			</div>
		</div>		
		</div>
	</div>

<div class="newsletter">
	<div class="newsletter_content">
		<div class="newsletter_image" style="background-image:url(/images/zadnja_slika.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">Najbolje knjige samo kod nas!</div>
						<div class="section_title">Sabskrajbujte se za 20% popusta!</div>
					</div>
				</div>
			</div>
			<div class="row newsletter_container">
				<div class="col-lg-10 offset-lg-1">
					<div class="newsletter_form_container">
						@using (Html.BeginForm("AddEmail", "Home", FormMethod.Post))
						{
							<input asp-for="@ns.Email" id="imejl" type="email" class="newsletter_input" required="required" placeholder="E-mail here">
							<button type="submit" class="newsletter_button">Subscribe</button>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>