@using bookverse.Models;
@{
	ViewData["Title"] = "Prodavnica";
	IEnumerable<Category> categories = ViewBag.categoriesList;
	IEnumerable<CoverType> coverTypes = ViewBag.coverTypeList;
	Product p = new Product();
	Newsletter ns = new Newsletter();
}
@model List<Product>

@section Styles{
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
	<link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/plugins/malihu-custom-scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">
	
	<link rel="stylesheet" type="text/css" href="/styles/categories.css">
	<link rel="stylesheet" type="text/css" href="/styles/categories_responsive.css">
}

<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/prodavnica_banner.jpg" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="home_container">
					<div class="home_content">
						<div class="home_title">Prodavnica</div>
						<div class="breadcrumbs">
							<ul>
								<li><a asp-controller="Shop" asp-action="ToHome">Početna</a></li>
								<li>Prodavnica</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Products -->

<div class="products">
	<div class="container">
		<div class="row">
			<div class="col-12">

				<!-- Sidebar Left -->

				<div class="sidebar_left clearfix" style="margin-top:-13.5%;">

					<!-- Categories -->
					<div class="sidebar_section">
						<div class="sidebar_title">Kategorije</div>
						<div class="sidebar_section_content">
							<ul id="categoryList">
								@foreach(var item in categories)
								{
								<li style="cursor:pointer"><a asp-action="FilterByCategory" asp-route-filter="@item.Name">@item.Name</a></li>
								}
							</ul>
						</div>
					</div>

					
					<div class="sidebar_section">
						<div class="sidebar_title">Povez</div>
						<div class="sidebar_section_content sidebar_color_content mCustomScrollbar" data-mcs-theme="minimal-dark">
							<ul id="coverList">
								@foreach(var item in coverTypes)
								{
									<li><a asp-action="FilterByCoverType" asp-route-filter="@item.Name">@item.Name</a></li>
								}
								</ul>
						</div>
					</div>

					<!-- Price -->
					<div class="sidebar_section">
						<div class="sidebar_title">Cena</div>
						<div class="sidebar_section_content">
							<div class="filter_price">
								<div id="slider-range" class="slider_range"></div>
								@using (Html.BeginForm("FilterByPrice", "Shop", FormMethod.Get)){
									
									<input type="text" name="price" style="color:black;" placeholder="Cena" id="amount" class="form-control">
								<span asp-validation-for="@p.Price" class="text-danger"></span>
									<button class="button cart_button" style="margin-top:10px;border:none;color:white;cursor:pointer;" type="submit">Pretrazi</button>
                                
								}
							</div>
						</div>
					</div>

					<!-- Best Sellers -->

					<div class="sidebar_section">
						<div class="sidebar_title">Best Sellers</div>
						<div class="sidebar_section_content bestsellers_content">
							<ul>
								<!-- Best Seller Item -->
								<li class="clearfix">
									<div class="best_image"><img src="/images/best1.jpg" width="74" height="74" alt=""></div>
									<div class="best_content">
										<div class="best_title"><a asp-action="Index" asp-controller="Product" asp-route-id="1004">Sreća je piti čaj s tobom</a></div>
										<div class="best_price">999 din.</div>
									</div>
									
								</li>

								<!-- Best Seller Item -->
								<li class="clearfix">
									<div class="best_image"><img src="/images/best2.png" width="74" height="74" alt=""></div>
									<div class="best_content">
										<div class="best_title"><a asp-action="Index" asp-controller="Product" asp-route-id="1003">Bolja strana</a></div>
										<div class="best_price">799 din.</div>
									</div>
									
								</li>

								<!-- Best Seller Item -->
								<li class="clearfix">
									<div class="best_image"><img src="/images/best3.jpg" width="74" height="74" alt=""></div>
									<div class="best_content">
										<div class="best_title"><a asp-action="Index" asp-controller="Product" asp-route-id="1002">Zvezda nad prazninom</a></div>
										<div class="best_price">1199 din.</div>
									</div>
									
								</li>
							</ul>
						</div>
					</div>

				</div>

				
			</div>
		</div>

		<div class="row products_container">
			<div class="col">

				<!-- Products -->

				<div class="product_grid">
					<table class="table">
						<!-- PRVI RED-->
												
						<script type="text/javascript">

							const columnsPerRow = 4;
							let currentColumn = 0;
						
							var data = @Html.Raw(Json.Serialize(Model));
							data.forEach(function (item){

								if (currentColumn === 0) {
									document.write('<tr>');
								}

								document.write(`
								<td>
							<div style="margin-top:-18.3%;padding:5px;padding-bottom:4em;">
								<div class="card" style="width: 21rem;">
								 <a href="/Product/Index/${item.id}"><img class="card-img-top"src="${item.imageURL}" style="width:334px;height:514px;" alt=""></a>
								  <div class="card-body" style="height:110px;">
								    <h5 class="product_name"><a href="/Product/Index/${item.id}">${item.name}</a></h5>
								    <p class="product_price" style="display:inline-block">${item.price} din.
									<div style="float:right">
									<div class="product_buy product_option ">
										<a href="/ShoppingCart/AddProduct/${item.id}">
										<img src="/images/shopping-bag-white.svg" alt="">
										</a>
									 </div>
									 
									 </div>
									</p>
									

								  </div>
								</div>
							</div>
								</td>
								 `);

								currentColumn++;

								if (currentColumn === columnsPerRow) {
									currentColumn = 0;
									document.write('</tr>');
								}
							});

							if (currentColumn !== 0) {
								document.write('</tr>');
							}
							

						</script>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

